max/extensions
max/externals

#Ignore DS_Store files
.DS_Store

logs
build
html
Debug
Release
Makefile

# XCode files to be ignored
xcuserdata
*.mode1v3
*.pbxuser
*.perspectivev3
project.xcworkspace

*.layout
*.depends
#*.map
*.ncb
*.suo
*.user
*.tm_build_errors
*.a
*.lib

# Git conflict files
*.orig

*.o
*.x64.o-*
*.i386.o-*

*.ttdylib
*.dylib

*.ttdll
*.dll

*.mxo
*.sdf
*.vcxproj

JamomaMaxVersion.h

# théo needs to hide a j.score external (which is based on Jamoma script support so it is placed into the Implementation/Max folder on his machine)
source/j.score/
