environment:
  CMAKE_PATH: c:\projects\JamomaMax\cmake-3.3.0-rc4-win32-x86
  encrypted_key:
    secure: NBgLiSQwqyGpdaFuCaU/pY71Crm4TQ1ClOHJj4cMekk=
  encrypted_iv:
    secure: 8TrT2dUy4RkrNMtaXzhTqEd/SP816Ev/pYdGksosxXA=

configuration: Release

install:
  - appveyor DownloadFile "http://www.cmake.org/files/v3.3/cmake-3.3.0-rc4-win32-x86.zip"
  - 7z x cmake-3.3.0-rc4-win32-x86.zip -y > nul

platform:
  - Win32
  - x64

before_build:
  - git submodule update --init
  - mkdir build
  - cd build
  - set CMAKE=%CMAKE_PATH%\bin\cmake.exe
  - if %PLATFORM% == x64 (set CMAKE_GENERATOR="Visual Studio 12 2013 Win64") ELSE (set CMAKE_GENERATOR="Visual Studio 12 2013")
  - if %PLATFORM% == x64 (set CUSTOM_FLAG="-DWIN64:Bool=True") ELSE ( set CUSTOM_FLAG="" )
  - cmake -G%CMAKE_GENERATOR% %CUSTOM_FLAG%  -DCMAKE_INSTALL_PREFIX=%CD%/JamomaInstall ..

build:
  parallel: true
  project: C:/projects/jamomamax/build/JamomaMax.sln

after_build:
  - cmake -DBUILD_TYPE=Release -DCMAKE_INSTALL_COMPONENT=JamomaMax -P cmake_install.cmake > nul
  - cd JamomaInstall\JamomaMax
  - 7z a JamomaMax-Windows_%PLATFORM%.zip Jamoma > nul
  - ps: openssl aes-256-cbc -K $env:encrypted_key -iv $env:encrypted_iv -in c:\projects\JamomaMax\script\id_rsa-appveyor.enc -out id_rsa -d
  - move /-Y id_rsa %USERPROFILE%\.ssh\
  - git clone --depth=1 https://github.com/jamoma/nightly-builds.git c:\projects\nightly-builds
  - IF exist c:\projects\nightly-builds\JamomaMax\ ( echo "c:\projects\nightly-builds\JamomaMax\" exists ) ELSE ( mkdir c:\projects\nightly-builds\JamomaMax\ && echo "c:\projects\nightly-builds\JamomaMax\" created )
  - move /-Y c:\projects\JamomaMax\build\JamomaInstall\JamomaMax\JamomaMax-Windows_%PLATFORM%.zip c:\projects\nightly-builds\JamomaMax\JamomaMax-Windows_%PLATFORM%.zip
  - cd c:\projects\nightly-builds\JamomaMax\
  - git config --global user.email "jamoma@appveyor.com"
  - git config --global user.name "Jamoma from Appveyor"
  - git config --global push.default matching
  - git add JamomaMax-Windows_%PLATFORM%.zip
  - git commit -m "JamomaMax Windows %PLATFORM% build %APPVEYOR_REPO_TAG_NAME% %APPVEYOR_REPO_COMMIT%"
  - git push origin master

artifacts:
  - name: Installer
    path: JamomaMax-*-win32.zip

deploy:
  release: $(APPVEYOR_REPO_TAG_NAME)
  provider: GitHub
  artifact: /.*\.zip/
  draft: false
  prerelease: false
  on:
    appveyor_repo_tag: true
