<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>jcom.plug.out≈</string>
	<key>CFBundleIdentifier</key>
	<string>org.jamoma.jcom.plug.out</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>jcom.plug.out≈ 0.5.6, Copyright 2011</string>
	<key>CFBundlePackageType</key>
	<string>iLaX</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.2b2</string>
	<key>CFBundleSignature</key>
	<string>max2</string>
	<key>CFBundleVersion</key>
	<string>0.5.6</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
